body {
    padding: 2% 10% 0 10%;
    font-family: sans-serif;
}
div {
    font-size: 120%;
}


#pic {
    width:auto;
    height: 450px;
}
/* Column container */
.row {  
display: flex;
/* flex-wrap: wrap; */
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
flex: 20%;
background-color: #f1f1f1;
/* padding-left: 20px; */
}

/* Main column */
.main {
flex: 50%;
background-color: white;
padding: 20px;
}

.construction {
    flex: 30%
}

.navlink {
    padding: .8em;
    width: 20em; /* i think what i'd like is a set % of screen to be covered by navbar, then make everything the same fraction of that bar*/
    border: 2px rgb(123, 110, 110) solid;
    /* display: inline-block; */
    border-radius: 20%;
}

nav > a {
    padding: 2px;
}

/* for collapsible */
/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: black;
    color: rgb(225, 211, 211);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    /* border: none; */
    border-bottom: 5px grey;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover, .navlink:hover {
    background-color: #ccc;
    color: black;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 18px 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }