body {
    padding: 2% 10% 0 10%;
    font-family: sans-serif;
}
div {
    font-size: 120%;
}


#pic {
    width:auto;
    height: 300px;
}
/* Column container */
.row {  
display: flex;
/* flex-wrap: wrap; */
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
flex: 10%;
background-color: #f1f1f1;
/* padding-left: 20px; */
}

/* Main column */
.main {
flex: 50%;
background-color: white;
padding: 20px;
}

.construction {
    flex: 30%
}


.navlink {
    padding: .8em;
    width: 20em; /* i think what i'd like is a set % of screen to be covered by navbar, then make everything the same fraction of that bar*/
    border: 2px rgb(123, 110, 110) solid;
    /* display: inline-block; */
    border-radius: 20%;
}
