body {
  margin:0;
  flex: 1;
  display:flex;
}

main {
  flex:1;
  display:grid;
  grid-template: 
     "conversion-table tokenize-input transcription-output" auto
    / .3fr .1fr 1fr .1fr 1fr;
}

#conversion-table{
}

#tokenize-input{
	height:300px;
}

#transcription-output{
	height: 300px;
}