table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
td {
    padding: 1em;
}
#UCSB, #BerkeleyOregon, #Oregon, #Chicago, #Ford, #MSCHF {
    background-color: #b5eb5cc2;
}
#Colorado, #BU, #Bowern {
    background-color: #dd865dc2;
} 
#UBC {
    background-color: #2c81a2c2;
}