record-word {
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#buttons-controls {
    display: flex;
    flex-direction: row;
}

record-word > * {
  margin: 1em;
}

.start-recording-button:disabled {
  display: none;
}

.stop-recording-button:disabled {
  display: none;
}

@keyframes pulse-red {
  100% {
    background-color: lightgray;
  }
  0% {
    background-color: #ff0000;
  }
}

@keyframes pulse-green {
  0% {
    background-color: rgb(73, 255, 12);
  }
  50% {
    background-color: lightgray;
  }
  100% {
    background-color: rgb(0, 255, 12);
  }
}

/* .stop-recording-button {
  animation-name: pulse-red, pulse-green;
  animation-duration: .7s, 1s;
  animation-iteration-count: 3, infinite;
  animation-delay: 0s, 2.1s;
  animation-timing-function: ease-out, ease-in-out;
  border-radius: 50%;
  height: 6em;
  width: 6em;
} */

.stop-recording-button {
  animation-name: pulse-green;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-delay: 1.5s;
  animation-timing-function: ease-in-out;
  border-radius: 50%;
  height: 6em;
  width: 6em;
}

.start-recording-button {
  border-radius: 50%;
  height: 6em;
  width: 6em;
}

.form {
  font-weight: bold;
}

.gloss {
  margin-bottom: 1em;
}

/* .prompt {
  display: flex;
  flex-direction: column;
} */

.audio-controls {
  width: 14em;
  display: none;
}

record-word.recording-completed {
  background:rgb(134, 201, 163);
}